/* Main Page */
body {
  /*background-color: #CCCCCC;*/
  font-family: 'Open Sans', sans-serif;
  /*color: #333333;*/
}

nav > ul {
  padding: 0;
  text-align: center;
}

nav > ul > li {
  display: inline-block;
  list-style-type: none;
  /*height: 25px;
  width: 89px;*/
}

.contactLinks {
  text-decoration: none;
  font-size: larger;
  /*color: #F2F2F3;*/
}

#name {
  display: block;
  margin: 10px;
  text-align: center;
  font-size: 3em;
  font-family: 'Josefin Sans', sans-serif;
  /*color: #F2F2F3;*/
}

#subTitle {
  text-align: center;
  margin: 10px;
  /*color: #F2F2F3;*/
}

/*main {
  display: flex;
  margin: auto;
}*/

/*header {
  background: #333333;
  padding: 10px;
}*/

/*#aboutTitle {
  text-align: center;
  font-size: larger;
}*/

/*About Me Aside*/
/*.about {
  width: 255px;
  height: 99.9%;
  float: left;
  border: 2px solid #333333;
  background: #5BB12F;
  padding: 0 5px;
}

#profilePhoto {
  height: 200px;
  border: 1px solid #333333;
  border-radius: 20px;
  display: block;
  margin: 10px auto 0px auto;
}*/

/*Main Portfolio Content*/
/*.content {
  padding: 0 5px;
  border: 2px solid #333333;
  height: 100%;
}

.contentTitles {
  text-decoration: underline;
}

.projectPhoto {
  height: 400px;
  width: 500px;
  display: block;
  border: 1px solid #333333;
  border-radius: 10px;
  margin: auto;
}

.skills {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
}

.skillsList {
  list-style-type: none;
}

#education {
  list-style-type: none;
  line-height: 1;
  margin-left: -40px;
}

footer {
  text-align: center;
  color: white;
  background-color: #333333;
  height: 30px;
  margin-top: -16px;
}*/

/*Responsive Layout*/
/*@media screen and (max-width: 620px) {
  main {
    flex-direction: column;
  }

  .projectPhoto {
    height: 200px;
    width: 300px;
  }

  .skills {
    flex-flow: column;
  }

  .about {
    width: auto;
  }

  #blackjack {
    height: 50%;
    width: 75%;
  }
}*/
