main {
  display: flex;
}

h1, h2, h3 {
  text-decoration: underline;
}

a {
  text-decoration: none;
  font-size: larger;
}

nav > ul > li {
  display: inline-block;
  float: right;
  list-style-type: none;
  padding: 1em;
}

.about {
  height: 550px;
  width: 255px;
  border: 2px solid black;
  border-radius: 5px;
  background-color: green;
  padding: 0 5px;
}

img {
  height: 200px;
  border: 1px solid black;
  border-radius: 80px;
}

.content {
  padding: 0 5px;
}
