body {
  background-color: lightblue;
}

main {
  display: flex;
}

/*headings*/
#name {
  display: block;
  margin: 5px 8px;
  text-decoration: underline;
  text-align: center;
  font-size: 3em;
}

#subTitle {
  text-align: center;
  margin: 0;
}

#aboutTitle {
  text-align: center;
  font-size: larger;
}

/*About Me Aside*/
.about {
  max-height: auto;
  width: 255px;
  float: left;
  border: 2px solid black;
  border-radius: 5px;
  background-color: green;
  padding: 0 5px;
}

img {
  height: 200px;
  border: 1px solid black;
  border-radius: 20px;
  display: block;
  margin: 10px auto 0px auto;
}

a {
  text-decoration: none;
  font-size: larger;
  color: white;
}

nav > ul > li {
  display: inline-block;
  list-style-type: none;
  height: 25px;
  width: 75px;
  border: 1px solid black;
  border-radius: 15px;
  padding: 5px;
  text-align: center;

}

/*Main Portfolio Content*/
.content {
  padding: 0 5px;
}

.contentTitles {
  text-decoration: underline;
}

footer {
  text-align: center;
  color: white;
  background-color: black;
  height: 30px;
}
