body {
  background-color: lightgrey;
  font-family: 'Open Sans', sans-serif;
}

main {
  display: flex;
  margin: auto;
}

header {
  background: black;
  padding: 10px;
}

/*headings*/
#name {
  display: block;
  margin: 5px 8px;
  text-align: center;
  font-size: 3em;
  font-family: 'Josefin Sans', sans-serif;
  color: white;
}

#subTitle {
  text-align: center;
  margin: 0;
  color: white;
}

#aboutTitle {
  text-align: center;
  font-size: larger;
}

/*About Me Aside*/
.about {
  width: 255px;
  height: 99.7%;
  float: left;
  border: 2px solid black;
  background: #349906;
  padding: 0 5px;
}

#profilePhoto {
  height: 200px;
  border: 1px solid black;
  border-radius: 20px;
  display: block;
  margin: 10px auto 0px auto;
}

.contactNav {
  text-decoration: none;
  font-size: larger;
  color: white;
}

nav > ul > li {
  display: inline-block;
  list-style-type: none;
  height: 25px;
  width: 89px;
  text-align: center;
}

/*Main Portfolio Content*/
.content {
  padding: 0 5px;
  border: 2px solid black;
  height: 100%;
}

.contentTitles {
  text-decoration: underline;
}

.projectPhoto {
  height: 300px;
  width: 500px;
  display: block;
  border: 1px solid black;
  border-radius: 10px;
  margin: auto;
}

.skills {
  list-style-type: none;
}

#education {
  list-style-type: none;
  line-height: 1;
  margin-left: -40px;
}

footer {
  text-align: center;
  color: white;
  background-color: black;
  height: 30px;
  margin-top: -16px;
}

/*Responsive Layout*/
@media screen and (max-width: 620px) {
  main {
    flex-direction: column;
  }

  aside {
    /*order: 0;*/
  }

  .about {
    width: auto;
  }

  #blackjack {
    height: 50%;
    width: 75%;
  }
}
